services:
  - type: web
    name: wealthshield-bullion
    env: node
    region: oregon
    plan: free
    buildCommand: cd wealthshield-backend && npm install
    startCommand: cd wealthshield-backend && npm start
    envVars:
      - key: PORT
        value: 10000
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
